*.env
# Ignorer les fichiers de compilation Python
*.pyc
*.pyo
__pycache__/

# Ignorer les fichiers Docker
.docker/

# Ignorer les fichiers de l'éditeur (par exemple VS Code, Sublime, etc.)
.vscode/
.idea/

# Ignorer les fichiers de logs
*.log

# Ignorer les fichiers de tests
*.test
*.spec
