[libdefaults]
    default_realm = {{ domain|upper }}
    dns_lookup_realm = false
    dns_lookup_kdc = true

[realms]
    {{ domain|upper }} = {
        kdc = {{ server }}
        admin_server = {{ server }}
    }

[domain_realm]
    .{{ domain }} = {{ domain|upper }}
    {{ domain }} = {{ domain|upper }}
